!!! 5
%html
  %head
    %title Future Imperfect by HTML5 UP
    %meta{:charset=>"utf-8"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %link{:rel=>"stylesheet", :href=>"assets/css/main.css"}
  %body
    %div#wrapper
      %header#header
        %h1
          %a{:href=>"#"} Future Imperfect
        %nav.links
          %ul
            %li
              %a{:href=>"#"} Lorem
            %li
              %a{:href=>"#"} Ipsum
            %li
              %a{:href=>"#"} Feugiat
            %li
              %a{:href=>"#"} Tempus
            %li
              %a{:href=>"#"} Adipiscing
        %nav.main
          %ul
            %li.search
              %a.fa-search{:href=>"#search"} Search
              %form#search{:method=>"get", :action=>"#"}
                %input{:type=>"text", :name=>"query", :placeholder=>"Search"}
            %li.menu
              %a.fa-bars{:href=>"#menu"} Menu
      %section#menu
        %section
          %form.search{:method=>"get", :action=>"#"}
            %input{:type=>"text", :name=>"query", :placeholder=>"Search"}
        %section
          %ul.links
            %li
              %a{:href=>"#"}
                %h3 Lorem ipsum
                %p Feugiat tempus veroeros dolor
            %li
              %a{:href=>"#"}
                %h3 Dolor sit amet
                %p Sed vitae justo condimentum
            %li
              %a{:href=>"#"}
                %h3 Feugiat veroeros
                %p Phasellus sed ultricies mi congue
            %li
              %a{:href=>"#"}
                %h3 Etiam sed consequat
                %p Porta lectus amet ultricies
        %section
          %ul.actions.vertical
            %li
              %a.button.big.fit{:href=>"#"} Log In
      %div#main
        %article.post
          %header
            %div.title
              %h2
                %a{:href=>"#"} Magna sed adipiscing
              %p Lorem ipsum dolor amet nullam consequat etiam feugiat
            %div.meta
              %time.published{:datetime=>"2015-11-01"} November 1, 2015
              %a.author{:href=>"#"}
                %span.name Jane Doe
                %img{:src=>"images/avatar.jpg", :alt=>""}
          %a.image.featured{:href=>"#"}
            %img{:src=>"images/pic01.jpg", :alt=>""}
          %p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          %footer
            %ul.actions
              %li
                %a.button.big{:href=>"#"}Continue Reading
            %ul.stats
              %li
                %a{:href=>"#"} General
              %li
                %a.icon.fa-heart{:href=>"#"} 28
              %li
                %a.icon.fa-comment{:href=>"#"} 128
        %article.post
          %header
            %div.title
              %h2
                %a{:href=>"#"} Ultricies sed magna euismod enim vitae gravida
              %p Lorem ipsum dolor amet nullam consequat etiam feugiat
            %div.meta
              %time.published{:datetime=>"2015-10-25"} October 25, 2015
              %a.author{:href=>"#"}
                %span.name Jane Doe
                %img{:src=>"images/avatar.jpg", :alt=>""}
          %a.image.featured{:href=>"#"}
            %img{:src=>"images/pic02.jpg", :alt=>""}
          %p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          %footer
            %ul.actions
              %li
                %a.button.big{:href=>"#"}Continue Reading
            %ul.stats
              %li
                %a{:href=>"#"} General
              %li
                %a.icon.fa-heart{:href=>"#"} 28
              %li
                %a.icon.fa-comment{:href=>"#"} 128
        %article.post
          %header
            %div.title
              %h2
                %a{:href=>"#"} Euismod et accumsan
              %p Lorem ipsum dolor amet nullam consequat etiam feugiat
            %div.meta
              %time.published{:datetime=>"2015-10-22"} October 22, 2015
              %a.author{:href=>"#"}
                %span.name Jane Doe
                %img{:src=>"images/avatar.jpg", :alt=>""}
          %a.image.featured{:href=>"#"}
            %img{:src=>"images/pic03.jpg", :alt=>""}
          %p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          %footer
            %ul.actions
              %li
                %a.button.big{:href=>"#"}Continue Reading
            %ul.stats
              %li
                %a{:href=>"#"} General
              %li
                %a.icon.fa-heart{:href=>"#"} 28
              %li
                %a.icon.fa-comment{:href=>"#"} 128
        %ul.actions.pagination
          %li
            %a.disabled.button.big.previous{:href=>""} Previous Page
          %li
            %a.button.big.next{:href=>"#"} Next Page
      %section#sidebar
        %section#intro
          %a.logo{:href=>"#"}
            %img{:src=>"images/logo.jpg", :alt=>""}
          %header
            %h2 Future Imperfect
            %p
              Another fine responsive site template by
              %a{:href=>"http://html5up.net"}HTML5 UP}
        %section
          %div.mini-posts
            %article.mini-post
              %header
                %h3
                  %a{:href=>"#"} Vitae sed condimentum
                %time.published{:datetime=>"2015-10-20"} October 20, 2015
                %a.author{:href=>"#"}
                  %img{:src=>"images/avatar.jpg", :alt=>""}
              %a.image{:href=>"#"}
                %img{:src=>"images/pic04.jpg", :alt=>""}
            %article.mini-post
              %header
                %h3
                  %a{:href=>"#"} Rutrum neque accumsan
                %time.published{:datetime=>"2015-10-19"} October 19, 2015
                %a.author{:href=>"#"}
                  %img{:src=>"images/avatar.jpg", :alt=>""}
              %a.image{:href=>"#"}
                %img{:src=>"images/pic05.jpg", :alt=>""}
            %article.mini-post
              %header
                %h3
                  %a{:href=>"#"} Odio congue mattis
                %time.published{:datetime=>"2015-10-18"} October 18, 2015
                %a.author{:href=>"#"}
                  %img{:src=>"images/avatar.jpg", :alt=>""}
              %a.image{:href=>"#"}
                %img{:src=>"images/pic06.jpg", :alt=>""}
            %article.mini-post
              %header
                %h3
                  %a{:href=>"#"} Enim nisl veroeros
                %time.published{:datetime=>"2015-10-17"} October 17, 2015
                %a.author{:href=>"#"}
                  %img{:src=>"images/avatar.jpg", :alt=>""}
              %a.image{:href=>"#"}
                %img{:src=>"images/pic07.jpg", :alt=>""}
        %section
          %ul.posts
            %li
              %article
                %header
                  %h3
                    %a{:href=>"#"}
                      Lorem ipsum fermentum ut nisl vitae
                  %time.published{:datetime=>"2015-10-20"} October 20, 2015
                %a.image{:href=>"#"}
                  %img{:src=>"images/pic08.jpg", :alt=>""}
            %li
              %article
                %header
                  %h3
                    %a{:href=>"#"}
                      Convallis maximus nisl mattis nunc id lorem
                  %time.published{:datetime=>"2015-10-15"} October 15, 2015
                %a.image{:href=>"#"}
                  %img{:src=>"images/pic09.jpg", :alt=>""}
            %li
              %article
                %header
                  %h3
                    %a{:href=>"#"}
                      Euismod amet placerat vivamus porttitor
                  %time.published{:datetime=>"2015-10-10"} October 10, 2015
                %a.image{:href=>"#"}
                  %img{:src=>"images/pic10.jpg", :alt=>""}
            %li
              %article
                %header
                  %h3
                    %a{:href=>"#"}
                      Magna enim accumsan tortor cursus ultricies
                  %time.published{:datetime=>"2015-10-08"} October 8, 2015
                %a.image{:href=>"#"}
                  %img{:src=>"images/pic11.jpg", :alt=>""}
            %li
              %article
                %header
                  %h3
                    %a{:href=>"#"}
                      Congue ullam corper lorem ipsum dolor
                  %time.published{:datetime=>"2015-10-06"} October 7, 2015
                %a.image{:href=>"#"}
                  %img{:src=>"images/pic12.jpg", :alt=>""}
        %section.blurb
          %h2 About
          %p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.
          %ul.actions
            %li
              %a.button{:href=>"#"} Learn More
        %section#footer
          %ul.icons
            %li
              %a.fa-twitter{:href=>"#"}
                %span.label Twitter
            %li
              %a.fa-facebook{:href=>"#"}
                %span.label Facebook
            %li
              %a.fa-instagram{:href=>"#"}
                %span.label Instagram
            %li
              %a.fa-rss{:href=>"#"}
                %span.label RSS
            %li
              %a.fa-envelope{:href=>"#"}
                %span.label Email
          %p.copyright
            &copy; Untitled. Design:
            %a{:href=>"http://html5up.net"} HTML5 UP
            Images:
            %a{:href=>"http://unsplash.com"}Unsplash
    %script{:src=>"assets/js/jquery.min.js"}
    %script{:src=>"assets/js/skel.min.js"}
    %script{:src=>"assets/js/util.js"}
    %script{:src=>"assets/js/main.js"}