*{
	padding: 0;
	margin: 0;
}
body{
	color: #292929;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
button{
	color: white;
	font-weight: 300;
	text-transform: uppercase;
	border: none;
	background: none;
	cursor: pointer;
}
section{
	text-align: center;
}
h2{
	color: black;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	padding-top: 42px;
	padding-bottom: 36px;
	text-transform: uppercase;
	text-align: center;
}
h3{
	color: black;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
	padding-top: 14px;
	padding-bottom: 20px;
}
.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.container{
	position: relative;
	width: 1176px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
.main_header{
	width: 100%;
	height: 840px;
	background: url(img/bg_header.jpg) no-repeat center;
	background-size: cover;
	text-align: center;

}
.main_header h1{
	padding-top: 315px;
	color: white;
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}
.main_header h1:before{
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 27px;
	height: 40px;
	background: url(img/left.png);
}
.main_header h1:after{
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 27px;
	height: 40px;
	background: url(img/right.png);
}
.main_header p{
	padding-top: 30px;
	color: white;
	font-size: 24px;
	text-transform: uppercase;
}
.top_line{
	background-color: #17304a;
}
.logo{
	display: block;
	position: absolute;
	top:0;
	left: 15px;
}
.nav_bar{
	height: 100px;
	float: left;
	margin-left: 180px;
}
.nav_bar li{
	display: inline-block;
	margin-right: 45px;
	line-height: 100px;
}
.nav_bar_top .current-menu-item a{
	color: 	#e85621;
}
.nav_bar_top .current-menu-item a:before{
	content: '';
	position: absolute;
	left: -15px;
    top: -8px;
	display: inline-block;
	width: 23px;
	height: 33px;
	background: url(img/before_item.png) no-repeat center;
}
.nav_bar_top .current-menu-item a:after{
	content: '';
	position: absolute;
	right: -15px;
    top: -8px;
	display: inline-block;
	width: 23px;
	height: 33px;
	background: url(img/after_item.png) no-repeat center;
}
.nav_bar li a{
	position: relative;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.number{
	float: right;
    color: white;
    line-height: 97px;
    font-size: 18px;
}
.number img{
	vertical-align: middle;
}
.number span{
	font-size: 14px;
}
.btn{
	display: inline-block;
	width: 198px;
    height: 42px;
    background: url(img/bg_btn.png);
    margin-top: 29px;
	color: white;
	font-weight: 300;
	line-height: 42px;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.btn:hover{
	color: #e85621;	
}
.btn_call{
	margin-top: 29px;
    float: right;
    margin-left: 29px;
}
.s_one{
	width: 100%;
	height: 480px;
	background: url(img/bg_s1.jpg) top center;
	background-size: cover;
}
.bg{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
}
.s_one h2{
	padding-top: 235px;	
	padding-bottom: 22px;
}
.s_one p{
	width: 920px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 32px;
}
.btn_more{
	display: inline-block;	
	margin: 0 auto;
	width: 196px;
	height: 40px;
	margin-top: 35px;
	background: url(img/btn_more.png);
	color: white;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
	cursor: pointer;
}
.wrap_info_block{
	position: absolute;
	top: -201px;

}
.info_block{
	width: 264px;
	height: 402px;
	float: left;
	margin-right: 30px;
}
.info_block a{
	display: block;
	position: relative;
	width: 100%;
	height: 200px;
	text-decoration: none;
	color: white;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: rgba(23,48,74,0.6);
}
.info_block a:before{
	content: '';
	position: absolute;
	top: 8px;
	left: 5px;
	width: 254px;
	height: 194px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	box-sizing: border-box;
}
.info_block a:hover{
	background-color: rgba(232,86,33,0.6);
}
.border_block{
	width: 254px;
	height: 194px;
	margin-bottom: 8px;
	margin-left: 5px;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	box-sizing: border-box;
}
.info_block img{
	display: block;
	margin: 0 auto;
	padding-top: 29px;
	padding-bottom: 18px;
}
.block1{
	background: url(img/block1.jpg) no-repeat;
    background-size: cover;
    background-position: -136px 0px;
}
.block2{
	background: url(img/block2.jpg) no-repeat;
    background-size: cover;
}
.block3{
	background: url(img/block3.jpg) no-repeat;
    background-size: cover;
}
.block4{
	background: url(img/block4.jpg) no-repeat;
    background-size: cover;
    float: right;
    margin: 0;
}
.s_two{
	width: 100%;
	height: 380px;
}
.bar{
	text-align: center;
}
.item_bar{
	display: inline-block;
	margin-right: 45px;
}
.item_bar:last-child{
	margin-right: 0;
}
.item_bar img{
	display: block;
	margin-bottom: 14px;
}
.item_bar span{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.s_three{
	width: 100%;
	height: 480px;
	background: url(img/bg_s3.png) top center;
	background-size: cover;
}
.btn_gallery{
	color: black;
}
.bottom_line{
	height: 100px;
	background-color: #17304a;
}
.bottom_logo{
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: 12px;
}
.wrap_bottom_nav{
	float: left;
	margin-left: 63px;
	margin-top: 30px;
}
.wrap_bottom_nav .nav_bar{
	float: none;
	margin: 0;
	height: auto;
}
.wrap_bottom_nav .nav_bar li{
	line-height: 14px;
	margin-right: 61px;
}
.wrap_bottom_nav .nav_bar li.active a:before,
.wrap_bottom_nav .nav_bar li.active a:after{
	display: none;
}
.wrap_bottom_nav .nav_bar li a{
	color: #d1d1d1;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
}
.menu li{
	display: inline-block;
	margin-right: 12px;
}
.menu li a{
	color: #d1d1d1;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	text-decoration: none;
}
form{
	text-align: center;
}
input[type="radio"] {
        display: none;

}

input[type="radio"] + span {
	display: inline-block;
	vertical-align: top;
	height: 22px;
	line-height: 22px;
    background: url("img/radio_off.png") no-repeat scroll 0 0;
    cursor: pointer;
    padding-left: 35px;
    margin-left: -6px;
}

input[type="radio"]:checked + span {
	display: inline-block;
	vertical-align: top;
	line-height: 22px;
	height: 22px;
    background: url("img/radio_on.png") no-repeat scroll 0 0;
}
.silver_form{
	width: 100%;
	padding-bottom: 22px;
	background-color: #e8e8e8;
}
.empty_form{
	width: 100%;
	padding-bottom: 22px;
}
.item_type .wpcf7-list-item{
	margin: 0 23px;
}
.item_room_elevator .wpcf7-list-item{
	margin: 0 30px;
}
.item_power .hr_form{
	background: url(img/hr_form.png) repeat-x;
	background-position: 0 88px;
}
.item_power input[type="radio"] + span{
	padding-left: 25px;
	width: 25px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 39px;
	background-color: #e8e8e8;
}
.item_power .title_item{
	margin-top: 17px;
	color: #555;
	font-size: 12px;
	font-weight: 400;
}
.item_power .title_item span{
	display: inline-block;
    width: 40px;
    margin: 0 34px;
}
.item_power .title_item span:first-child{
	margin-left: 45px;
}
.item_power .img_item span {
   	margin-right: 73px;
    display: inline-block;
    width: 34px;
}
.item_power .img_item span:first-child {
    margin-left: 78px;
}
.item_stations input[type="radio"] + span{
	padding-left: 25px;
	width: 25px;
	box-sizing: border-box;
	overflow: hidden;
	margin:0 8px;
	background-color: #fff;
}
.item_stations .hr_form{
	background: url(img/hr_form.png) repeat-x;
	background-position: 0 60px;
}
.item_stations .title_item{
	margin-top: 5px;
	color: #555;
	font-size: 12px;
	font-weight: 400;
}
.item_stations .title_item span{
	display: inline-block;
    width: 23.5px;
    margin-right: 22px;
}
.item_stations .title_item span:first-child{
	margin-left: 28px;
}
.item_speed .hr_form{
	background: url(img/hr_form.png) repeat-x;
	background-position: 0 89px;
}
.item_speed input[type="radio"] + span {
    padding-left: 25px;
    width: 25px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 39px;
    background-color: #e8e8e8;
}
.item_speed .img_item span {
   margin-right: 71px;
   display: inline-block;
   width: 35px;
}
.item_speed .img_item span:first-child{
	margin-left: 77px;
}
.item_speed .title_item span{
	display: inline-block;
    width: 76px;
    margin-right: 33px;
    color: #555;
    font-size: 12px;
    font-weight: 400;
}

.item_speed .title_item span:first-child{
	margin-left: 40px;
}
.item_fire input[type="radio"] + span{
	margin:0 25px;
}
.item_status input[type="radio"] + span{
	margin:0 20px;
}
.item_options input[type="radio"] + span{
	margin:0 15px;
}
.sent_form{
	width: 618px;
	height: 370px;
	margin: 0 auto;
	padding-top: 29px;
	background-color: #e8e8e8;
}
.field_form{
	width: 422px;
	height: 30px;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	font-size: 12px;
	font-style: italic;
	border: none;
}
.textarea_form{
	width: 422px;
	height: 92px;
	background-color: white;
	resize: none;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
	font-size: 12px;
	font-style: italic;
	border: none;
}
.btn_form{
	width: 195px;
	height: 40px;
	background-color: #e85621;
	border: none;
	background: url(img/btn_more.png);
	color: white;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
	cursor: pointer;
}
/*.item_stations .title_item span:first-child{
	padding-left: 112px;
}
.item_stations .title_item span:nth-child(n+10){
	margin-right: 1px;
}*/
/*
.rhex {
  position: relative;
  margin: 1em auto;
  width: 200px; height: 350px;
 border: 2px solid red;
  cursor: pointer;
}
.rhex:before, .rhex:after {
  position: absolute;
  width: 350px;	; 
  height: 175px;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.rhex:before {
  transform: rotate(60deg);
   border: 2px solid green;
}
.rhex:after {
  transform: rotate(-60deg);
   border: 2px solid blue;
}
*/
